<%= form_for(@meditation) do |f| %>
  <% if @meditation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meditation.errors.count, "error") %> prohibited this meditation from being saved:</h2>

      <ul>
      <% @meditation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->

  <div class="start">
  
    <div class="field">
      <%= f.label :start_time %><br>
      <%= f.time_select :start_time, {:ampm => true} %>
    </div>
    <div class="field">
      <%= f.label :before_mood %><br>
      <%= f.text_field :before_mood %>
    </div>
  </div>

<div class="round-button"><button class="start_button start">Start</button> </div> <br>

<div class="round-button"> <button class="end_button end">End</button> </div> <br>


<div class="end">

  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time, {:ampm => true} %>
  </div>

  <div class="field">
    <%= f.label :after_mood %><br>
    <%= f.text_field :after_mood %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
