
<% if user_signed_in? %>

<div class="links">
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %> <br>

	<%= link_to "Meditate Now", new_meditation_path %> <br>
	<%= link_to "See my Progress", progress_path %> <br>

	<%= link_to "Create a reminder", new_reminder_path %> <br>
	
 </div>

	<button class="location">Find a place nearby to meditate</button> <br>
	<div id="map"> </div>
	<p id="error"></p>

	<script>
		$(document).ready(function () {
			$("#video").removeClass("blur");
		});
	</script>

<% else %>
	<h1 class="shiviti"> Shiviti </h1>

	<div class="login">
		<%= link_to "login/", user_session_path %> 

		<%= link_to "new user", new_user_registration_path %> 
	</div>

	<script>
		$(document).ready(function () {
			$("#video").removeClass("blur");
		});
	</script>

	<div class="welcome">
		<p> Welcome to Shiviti </p>
		<p> Relax with Shiviti, a simple mindfulness meditation <br> app that brings clarity and peace of mind into your life.</p>

	</div>
	<style>
/*body { 
  background: url("http://cdn.calm.com/scenes/scene-Qqkzy9k7Eo.mp4?v=1418162238190") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
</style>

<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=@api_key%>&libraries=places" async defer></script>





