<!DOCTYPE html>
<html>
<head>
  <title>Shiviti</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <!-- <script src="Chart.js"></script> -->

<script>
	
$(document).ready(function(){
	

var ctx = $("#myChart").get(0).getContext("2d");
				
		var data = {
	    labels: <%= current_user.meditations.map { |meditation| meditation.start_time.strftime('%B')}.to_json.html_safe%>,
	    datasets: [
	      {
	          label: "My First dataset",
	          fillColor: "rgba(220,220,220,0.2)",
	          strokeColor: "rgba(220,220,220,1)",
	          pointColor: "rgba(220,220,220,1)",
	          pointStrokeColor: "#fff",
	          pointHighlightFill: "#fff",
	          pointHighlightStroke: "rgba(220,220,220,1)",
	          data: <%=current_user.meditations.map(&:length)%>
	        
	      },
	    ]
		};
		var myLineChart = new Chart(ctx).Line(data);
});


</script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> <br>

<canvas id="myChart" width="400" height="400"></canvas>

 

<!-- &callback=initMap -->
<%= yield %>

</body>
</html>
