<!DOCTYPE html>
<html>
<head>
  <title>Shiviti</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- <script src="Chart.js"></script> -->


</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> <br>

<!-- &callback=initMap -->
<%= yield %>
<video autoplay id="video" class="blur" loop>
	<source src="http://cdn.calm.com/scenes/scene-Qqkzy9k7Eo.mp4?v=1418162238190" type="video/mp4">
</video>


</body>
</html>